		body {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			display: flex;
			flex-direction: column;
			align-items: center;
			/*background-image: url("./martini.jpg");*/
			background-size: cover;
			background-position: center;
			color: rgb(230, 230, 230);
		}

		h3 {
			max-width: 50%;
			font-size: smaller;
			text-align: center;
		}

		#contenitoreQuiz {
			border: solid thin black;
			border-radius: 1em;
			min-width: 25em;
            max-width: 50%;
			width: fit-content;
			min-height: 10em;
			height: fit-content;
			padding: 2%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		hr {
			border: 1.2px solid white;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		pre {
			font-family: inherit;
			font-size: inherit;
		 	white-space: pre-wrap;
		}

		.frequenza {
			font-size: small;
		}

		#spanSoluzione {
			/*max-width: 10%;*/
		}

		#contenitoreQuiz.giusta {
			border: solid thick rgb(51, 204, 76);
		}

		#contenitoreQuiz.sbagliata {
			border: solid thick rgb(240, 70, 95);
		}

		#messaggioFinale {
			border: solid thin black;
			border-radius: 1em;
			padding: 1em;
		}

		strong {
			color: orange;
		}

		input[type=button], input[type=submit], button {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			padding: 5px 10px;
			height: 30px;
			border-radius: 15px;
			border-style: none;
			background-color: rgb(228, 210, 54);
			text-decoration: none;
			color: rgb(36, 36, 36);
			cursor: pointer;
			transition: color 0.7s;
			transition: background-color 0.7s;
			margin: 10px;
		}

		input[type=button]:hover, input[type=submit]:hover, button:hover {
			background-color: rgb(66, 65, 65);
			color: white;
			transition: background-color 0.7s;
			transition: color 0.7s;
		}

		input[type=button]:disabled, input[type=submit]:disabled, button:disabled {
			background-color: rgb(141, 141, 141);
			color: rgb(53, 53, 53);
			cursor: auto;
		}

		input[type=number] {
			background-color: rgb(228, 210, 54);
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-size: 1.1em;
			color: rgb(36, 36, 36);
			border-style: none;
			padding: 5px;
			height: 20px;
			width: 3em;
			border-radius: 10px;
			margin: 10px;
		}

		#contenitoreBottoni {
			margin: 1em;
		}

		#domanda {
			font-size: 1.2em;
		}

		#risposte {
			margin-top:  1em;
		}

		.light {
			color: rgba(0,0,0,0.4);
		}

		.sfondoSemiT {
			background-color: rgba(255,255,255,0.2);
		}

		.svela.sbagliata {
			color: rgb(240, 70, 95);
		}
		.svela.giusta {
			color: rgb(51, 204, 76);
		}

		#contenitoreTimestamp{
			position: fixed;
			left: 2em;
			bottom: 2em;
			border-radius: 0.1em;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#contenitoreTimestamp input[type=button] {
			background-color: rgba(255,255,255,0.2);
			/*padding: 5px 10px;*/
			height: fit-content;
			border-radius: 5%;
		}

		#contenitoreTimestamp>* {
			margin: 0.5em;
		}

		#contenitoreTimestamp input[type=button]:hover {
			background-color: rgb(66, 65, 65);
		}

		#divTimestamp {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#contenitoreInfo {
			position: absolute;
			left: 4em;
			top: 3em;
			text-align: center;
			padding: 1em;
			font-size: larger;
		}

		.bordato {
			border-top: solid thick rgb(230, 230, 230);
			border-bottom: solid thick rgb(230, 230, 230);
			border-radius: 1em;
			padding: 1em;
		}

		#contenitoreSelezioneModuli {
			position: absolute;
			right: 4em;
			top: 3em;
		}

		#contenitoreSelezioneModuli>span {
			font-size: large;
		}

		#divModuli {
			margin-top: 1em;
		}

		#contenitoreSegnalazioni {
			position: absolute;
			right: 4em;
			top: 3em;
		}
/*roba per schermi stretti*/
		@media screen and (max-width: 70em) {
			#contenitoreInfo {
				position: relative;
				left: 0;
				top: 0;
				margin-bottom: 1em;
				padding: 0 1em;
				display: flex;
				flex-direction: row;
			}

			#contenitoreSelezioneModuli {
				position: static;
				margin-top: 1em;
			}

			#divModuli label{
        		display: inline-block;
        		padding: 0 1.5em;
        	}

        	#contenitoreTimestamp {
        		position: absolute;
        		left: 1em;
        		top: 1em;
        	}
		}

		a:link {
			color: rgb(228, 210, 54);
			text-decoration: none;
			padding: 3px;
			border-radius: 15px;
			border-style: none;
			transition: color 0.7s;
		}

		a:visited {
			color: rgb(228, 210, 54);
			transition: color 0.7s;
		}

		a:hover {
			text-shadow: 4px 4px 2px rgba(66, 65, 65, 1);
			color: white;
			transition: background-color 0.7s;
			transition: color 0.7s;
		}

        #fine {
        	background-color: rgb(240, 70, 95);
        }

        #verifica {
        	background-color: rgb(51, 204, 76);
        }

        #fine:hover{
			background-color: rgb(66, 65, 65);
        }

        #fine:disabled{
			background-color: rgb(141, 141, 141);
        }

        #verifica:hover{
			background-color: rgb(66, 65, 65);
        }

        #verifica:disabled{
			background-color: rgb(141, 141, 141);
        }

        #contenitoreInfo div {
        	display: flex;
        	flex-direction: row;
        	align-items: center;
        }
        

        #contenitoreInfo p {
        	margin: 10px;
        }

        /*#bottonePopup {
        	position: fixed;
        	right: 1em;
        	bottom: 1em;
        }*/

        #labelInizio,#inputInizio {

		  -webkit-transition: .4s;
		  transition: .4s;
        }

        /*checkmark*/
        /* The container */
		.container {
		  display: block;
		  position: relative;
		  padding-left: 35px;
		  margin-bottom: 12px;
		  cursor: pointer;

		  /*font-size: 22px;*/
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		/* Hide the browser's default checkbox */
		.container input {
		  position: absolute;
		  opacity: 0;
		  cursor: pointer;
		  height: 0;
		  width: 0;
		}

		/* Create a custom checkbox */
		.checkmark {
		  position: absolute;
		  top: 0;
		  left: 0;

		  border-radius: 25%;
		  height: 1em;
		  width: 1em;
		  background-color: #eee;
		}

		/* On mouse-over, add a grey background color */
		.container:hover input ~ .checkmark {
		  background-color: rgb(66, 65, 65);
		}

		/* When the checkbox is checked, add a yellow background */
		.container input:checked ~ .checkmark {
		  background-color: rgb(228, 210, 54);
		}

		.container input:disabled ~ .checkmark {
		  background-color: rgb(66, 65, 65);
		  cursor: default;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
		  content: "";
		  position: absolute;
		  display: none;
		}

		/* Show the checkmark when checked */
		.container input:checked ~ .checkmark:after {
		  display: block;
		}

		/* Style the checkmark/indicator */
		.container .checkmark:after {
		  left: 0.25em;
		  top: 0.1em;
		  width: 0.25em;
		  height: 0.5em;
		  border: solid white;

		  border-width: 0 3px 3px 0;
		  -webkit-transform: rotate(45deg);
		  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
		}

        /*slider*/

        .switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}

		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: rgb(228, 210, 54);
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px rgb(228, 210, 54);
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}
        .slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}

		#contenitoreSwitch {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		#contenitoreSwitch>* {
			margin: 1em;
		}

/* The Modal (background) */
	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	  position: relative;
	  background-color: rgba(0,0,0,0.6);
	  color: rgb(230, 230, 230);
	  margin: auto;
	  padding: 0;
	  border-radius: 1em;
	  width: 40%;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	  -webkit-animation-name: animatetop;
	  -webkit-animation-duration: 0.4s;
	  animation-name: animatetop;
	  animation-duration: 0.4s
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
	  from {top:-300px; opacity:0} 
	  to {top:0; opacity:1}
	}

	@keyframes animatetop {
	  from {top:-300px; opacity:0}
	  to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
	  color: white;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}

	.modal-header {
	  padding: 2px 16px;
	  background-color: rgb(240, 70, 95);
	  color: rgb(230, 230, 230);

	  border-top-left-radius: 1em;
	  border-top-right-radius: 1em;
	}

	.modal-body {padding: 2px 16px;}

	.modal-footer {
	  padding: 2px 16px;
	  background-color: #5cb85c;
	  color: white;
	}

	.indicatoreBottonePopup {
		background-color: rgba(255,255,255,0.2);
		padding: 5px 10px;
		height: fit-content;
		margin: 5px;
		border-radius: 5%;
	}

	#cartellaDrive {
		background-color: rgb(240, 70, 95);
		padding: 0.2em;
		border-radius: 0.1em;
	}

	.stampa {
		display: none;
	}